button, .button {
	padding: 6px 10px;
	margin-right: 0.5rem;
}

li {
	list-style-type: none;
}

ul.decorated > li {
	list-style-type: circle;
}

.margin-right {
	margin-right: 0.5rem;
}

.text-completed {
	text-decoration: line-through;
	color: grey;
}

.text-not-completed {
	text-decoration: none;
	color: black;
}

.active {							/* For React Router NavLinks  */
	font-weight: bold;
}